$header-height: 87px;
$content-height: calc(100vh - #{$header-height});

$header-height-movil: 107px;
$content-height-movil: calc(100vh - #{$header-height-movil});

$color-dark-gray-general: #6C6D70;
$color-light-gray-general: #808285;
$color-yellow-general: #FCB829;
$color-verder-general: #0A6B3A;

$color-gray-menu: #878786;
$color-yellow-menu: #FBBA13;
$color-white: #FFFFFF;

$color-gray-texto-general: #878787;
$color-yellow-texto-general: #FBBA13;


$color-gray-1: #C4C4C4;
$color-gray-2: #E9E9E9;


$color-bg-gray: #575756;
$color-bg-tarjeta-form: #FBFAFA;
$color-red: red;

$font-size-menu: 23px;